server:
  port: 8081
  address: 0.0.0.0

mqtt:
  broker-url: tcp://localhost:1883
  client-id: workshop_server_${random.uuid}
  username: admin  # 如果EMQX配置了用户名密码
  password: yyg198295
  connection-timeout: 30
  keep-alive-interval: 60
  clean-session: true
  automatic-reconnect: true

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/yancao?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: 12345
    driver-class-name: com.mysql.cj.jdbc.Driver
  # MyBatis 配置
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  web:
    resources:
      static-locations: file:E:/yancao/  # 物理路径映射
  mvc:
    static-path-pattern: /images/**     # 虚拟访问路径

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB    # 单个文件最大大小
      max-request-size: 20MB # 整个请求最大大小
      file-size-threshold: 2KB


mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.office.yancao.entity
  configuration:
    map-underscore-to-camel-case: true   # 开启驼峰命名

# JWT 配置（关键！新增这部分）
jwt:
  secret: cHV5eG9uZy5jbiBpcyB0aGUgYmVzdCBTcHJpbmcgQm9vdCBKV1Qga2V5IGZvciBwcm9kdWN0aW9uICEhISEK
  expiration: 604800

file:
  upload-path: E:/yancao/
  base-url: http://localhost:8081/images/
  max-size: 10MB

# PageHelper 配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql