<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.yancao.mapper.admin.AttendanceEventMapper">

    <resultMap id="BaseResultMap" type="com.office.yancao.entity.admin.AttendanceEvent">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="group_name" property="groupName"/>
        <result column="attendance_date" property="attendanceDate"/>
        <result column="event_type" property="eventType"/>
        <result column="shift_type" property="shiftType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="duration_hours" property="durationHours"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, user_name, group_name, attendance_date, event_type, start_time, end_time, duration_hours, create_time, remark, shift_type, create_by
    </sql>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO attendance_event (
        user_id, user_name, group_name, attendance_date, event_type, start_time, end_time, duration_hours, remark, shift_type, create_by
        ) VALUES
        <foreach collection="attendanceEvents" item="item" separator=",">
            (
            #{item.userId}, #{item.userName},#{item.groupName}, #{item.attendanceDate}, #{item.eventType}, #{item.startTime}, #{item.endTime}, #{item.durationHours}, #{item.remark}, #{item.shiftType}, #{createBy}
            )
        </foreach>
    </insert>

</mapper>