<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.office.yancao.mapper.UserOrgMapper">

    <select id="selectPrimaryClassByUserId"
            resultType="com.office.yancao.dto.UserClassDTO">
        SELECT
            u.id            AS userId,
            u.username      AS username,
            u.employee_id   AS employeeId,
            o.id            AS orgId,
            o.org_name      AS orgName,
            o.org_type      AS orgType,
            uo.org_role     AS orgRole,
            uo.is_primary   AS isPrimary
        FROM t_user u
                 JOIN t_user_org uo ON u.id = uo.user_id
                 JOIN t_org o ON uo.org_id = o.id
        WHERE u.id = #{userId}
          AND o.org_type = #{classes}
          AND uo.is_primary = 0
          AND o.status = 1
            LIMIT 1
    </select>



</mapper>