<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.yancao.mapper.UserInfoMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user
            (username, phone, password, birthday, status)
        VALUES
            (#{username}, #{phone}, #{password}, #{birthday}, #{status})
    </insert>

    <select id="selectById" resultType="com.office.yancao.entity.UserInfo">
        SELECT * FROM t_user WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultType="com.office.yancao.entity.UserInfo">
        SELECT * FROM t_user WHERE username = #{username}
    </select>

    <select id="selectAll" resultType="com.office.yancao.entity.UserInfo">
        SELECT * FROM t_user
    </select>

</mapper>
